*{
	margin: 0;
	padding: 0;
	font-family: 'poppins', 'Ubuntu', Sans-Serif;
	box-sizing: box-shadow;
}
html{
  scroll-behavior: smooth!important;
  
}
::-webkit-scrollbar {

    width: 10px;

}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: lime;
}
#header{
  
	background: #121212;
	color: #fafafa;
	max-height: 200px;
	width: 100%;
	
}

.main{
  position: fixed;
  padding: 15px 0;
  
  width: 100%;
  z-index: 999 ;
  transition: all 0.3s ease;
}
.main.sticky{
    padding: 0 0;
    /*border-radius: 6px;*/
    background: limegreen;
    
}
.main.sticky .logo,.main.sticky.menu li a{
  color: #fff;
}
.main.sticky .menu li a:hover{
  color: black;
  /*border-bottom: 1px solid black;*/
}
.main.sticky .logo span{
  color: black ;
}

.row{
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: space-around;
}
.column{

	display: flex;
	flex-direction: row;
	align-items: center;
	align-content: center;
	justify-content: space-between;
}
.logo{
	font-size: 25px;
	font-weight: bold;
	margin: 0px 0px 0px 20px;
	letter-spacing: 5px;
}
.logo span{
	color: lime;

}
.menu{
	margin: 15px 5px;
	padding: 10px 5px;
}
.menu li{
	list-style: none;
	display: inline-block;
	padding: 8px 5px;
}
.menu li a{
	text-decoration: none;
	letter-spacing: 3px;
	color: #fafafa;
	font-weight: bold;
	font-size: 20px;
	transition: 0.5s ease;
}
.menu li a:hover{
	color: lime;
  font-size: 15px;
	/*border-bottom: 1px solid lime;*/
}

label #open, 
label #close{
  color: #fafafa;
  font-size: 30px;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}


#home{
  color: #fafafa;
	background-color: #121212;
  
	width: 100%;
	min-height: 1000px;
}
.image1{
	flex-basis: 50%;
	position: relative;
	margin-top: 15em;
}
.image1 img{
	max-width: 500px;
}
.hometext{
	flex-basis: 48%;
	font-size: 35px;
	position: relative;
	margin-top: 10em;
	
	
}
#visitor, #visitor2 .a{
	font-weight: bold;
	color: lime;
}
#visitor3{
  font-weight: bold;
}
.htext3{
	font-weight: bold;
}


.typing{
  
  color: lime;
  font-size: 30px;
  font-weight: bold;
} 
.btn{
	display: inline-block;
	color: #fafafa;
	font-size: 25px;
	font-weight: 400;
	background: none;
	padding: 10px 36px;
	margin-top: 25px;
	cursor: pointer;
	border: 1px solid limegreen;
	border-radius: 10px;
	transition: all 0.3s ease-in;
}
.btn:hover{
	color: black;
	background: limegreen;
}

.btn a{
  text-decoration: none;
  color: #fafafa;
  transition: all 0.3s ease-in;
}
.btn:hover a{
  color: black;
  
}
#down{
  transition:all 0.3s ease-in;
  
}
.btn:hover #down{
 
  position: relative;
  
  animation: down 1s infinite;
}
@keyframes down{
  0%{
    top: 0;
  }
  50%{
    top: 10px;
  }
  100%{
    top: 15px;
  }
}


#about{

  color: #fafafa;
  background: #1c2841 ;
  min-height: 400px;
}

.title{
  text-align: center;
  padding-top: 90px;
  font-size: 25px;
  font-weight: bold;
}

.titletext{
  font-size: 15px;
  color: lime;
 
}
.image2{
  margin-bottom: 80px;
  margin-left: 35px;
  padding: 15px 15px 15px 15px;
  transition: 0.2s ease;
}
.image2 img{
  max-height: 500px;
  max-width: 700px;
  position: relative;
  margin:20px 10px 20px 10px;
  filter: grayscale(1);
  cursor: pointer;
  transition:all 0.5s ease-in;
}
.image2 img:hover{
  filter: grayscale(0);
  box-shadow: 15px 20px 15px rgb(0,128,0,30%);
}

.abouttext{

  flex-basis: 45%;
  /*background: #121212;*/
  height: 400px;
  margin-bottom: 60px;
  margin-right: 15px;
  font-size: 30px;
  padding: 15px 15px 15px 15px;
  text-align: justify;
}
.abouttext marquee{
  color: limegreen;
  font-size: 25px;
  font-weight: bold;
}
.atext{
  font-size: 20px;

}


#service{
  background: #121212;
  color: #fafafa;
  min-height: 1400px;
}

.s1,.s2,.s3,.s4,.s5,.s6,.s7,.s8,.s9,.s10,.s11,.s12{

  width: calc(33% - 20px);
  background: #222;
  color: #fafafa;
  box-sizing: border-box;
  padding: 20px 25px;
  margin-top: 25px;
  text-align: center;
  border-radius: 6px;
  cursor: pointer;
  transition:all ease-in 0.5s;
}

.s1:hover,.s2:hover,.s3:hover,.s4:hover,.s5:hover,.s6:hover,.s7:hover,.s8:hover,.s9:hover,.s10:hover,.s11:hover,.s12:hover{
  background-color: limegreen;
  color: #000;
  box-shadow: 15px 20px 15px rgb(0,128,0,30%);
}
.s1 h3,.s1 p, .s2 h3,.s2 p,.s3 h3,.s3 p,.s4 h3,.s4 p,.s5 h3,.s5 p,.s6 h3,.s6 p,.s7 h3,.s7 p,.s8 h3,.s8 p,.s9 h3,.s9 p,.s10 h3,.s10 p,.s11 h3,.s11 p,.s12 h3,.s12 p{
  margin-top: 20px;
  transition: all ease-in 0.5s;
}
.s1:hover h3, .s2:hover h3,.s3:hover h3,.s4:hover h3,.s5:hover h3,.s6:hover h3,.s7:hover h3,.s8:hover h3,.s9:hover h3,.s10:hover h3,.s11:hover h3,.s12:hover h3{
  color: black;
  /*font-size: 20px;*/
  text-decoration: underline ;
  transform: scale(1.05);
}
.s1:hover p, .s2:hover p,.s3:hover p,.s4:hover p,.s5:hover p,.s6:hover p,.s7:hover p,.s8:hover p,.s9:hover p,.s10:hover p,.s11:hover p,.s12:hover p{
  color: black;
  /*font-size: 15px;*/
  transform: scale(1.05);
}









#skills{
  background: #1c2841;
  color: #fafafa;
  min-height: 1200px;
}
.skill1{
  flex-basis: 45%;
  /*background: #121212;*/
  height: 400px;
  margin-bottom: 60px;
  margin-right: 45px;
  margin-top: 20px;
  font-size: 25px;
  padding: 15px 15px 15px 15px;
  text-align: justify;
}
.skill2{
  display: none;
    flex-basis: 30%;
  /*background: #121212;*/
  height: 400px;
  margin-bottom: 60px;
  margin-right: 5px;
  
  
  margin-top: 20px;
  font-size: 25px;
  padding: 15px 15px 15px 15px;
  text-align: justify;
}
.skill{
  width: 100%;
  height: 430px;
  background: #222;
  color: #fafafa;
  box-sizing: border-box;
  padding: 20px 25px;
  border-radius: 6px;
  cursor: pointer;
  transition:all ease-in 0.5s;
}
.skill:hover{
  
  
  box-shadow: 15px 20px 15px rgb(0,128,0,30%);
}
.skill-name:nth-child(1){
  margin-top: 0px;
}
.skill-name{
  margin-top: 25px;
  font-weight: bold;
}
.skill-bar{
  height: 5px;
  border-radius: 4px;
  background: #282828;
}
.skill-per{
  height: 5px;
  border-radius: 4px;
  background: limegreen;
  position: relative;
  animation: skillbar 3.5s 1;
}

.skill-per:before{
  content: attr(per);
  position: absolute;
  padding: 4px 6px;
  background: #fafafa;
  border-radius: 4px;
  font-size: 12px;
  color: #121212;
  top: -35px;
  right: 0;
  transform: translateX(50%);
}
.skill-per:after{
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: #fafafa;
  border-radius: 2px;
  top: -15px;
  right: 0;
  transform: translateX(50%) rotate(45deg);
}
@keyframes skillbar{
  from{
    width: 0;
    background: blue;
  }
  to{
    width: 100%;
    background: limegreen;
  }
}

.skill .button{
  margin: 10px 20px;

}
#viewbtn:hover i{
  position: relative;
  animation: right 1s infinite;
}
@keyframes right{
   0%{
    left: 0;
  }
  50%{
    left: 10px;
  }
  100%{
    left: 15px;
  }
}
#morebtn:hover i{
  position: relative;
  animation: down 1s infinite;
}

.moreskills{
  display: none;
  height: 400px;
  margin-bottom: 60px;
  margin-top: 40px;
  font-size: 25px;
  padding: 15px 15px 15px 15px;
  text-align: justify;
}





#projects{
  background: #121212;
  color: #fafafa;
  min-height: 1600px;
}
.pro1,.pro2,.pro3{
  width: calc(33% - 20px);
  background: #222;
  color: #fafafa;
  box-sizing: border-box;
  padding: 20px 25px;
  margin-top: 25px;
  text-align: center;
  border-radius: 6px;
  cursor: pointer;
  transition:all ease-in 0.5s;
}
.pro1:hover,.pro2:hover,.pro3:hover{
  box-shadow: 15px 20px 15px rgb(0,128,0,30%);
}
.pro1:hover .gif,.pro2:hover .gif,.pro3:hover .gif{
  border: 1px solid limegreen;
}
.gif{
  width: 100%;
  color: #fafafa;
  box-sizing: border-box;
  text-align: center;
  border: 1px solid #121212;
  border-radius: 6px;
  cursor: pointer;
  transition:all ease-in 0.5s;
}
.gif img{
  max-width: 400px;
  max-height: 200px;
  transition:all ease-in 0.5s;
}

.gif img:hover{
  transform: scale(1.2);
}









#contact{
  background: #1c2841;
  color: #fafafa;
  min-height: 1500px;
}
.contact-info{
  flex-basis: 50%;
  text-align: justify;
  margin-top: 20px;
  font-size: 25px;
  padding: 15px 15px;
}
.contact-info p{
  margin-top: 12px;
}
.contact-menu{
  margin-top: 15px;
  padding: 15px 15px 15px 0px;
}
.contact-menu li{
  list-style-type: none;
  padding: 15px 15px 15px 0px;
}

.contact-menu li i{
  float: left;
  margin-right: 30px;
  margin-top: 5px;
}
.contact-menu li p{
  margin-top: 2px;
  margin-left: 50px;
}

.contact-form{
  flex-basis: 30%;
  margin-top: 20px;
  width: 90%;
  height: 650px;
  background: #222;
  color: #fafafa;
  box-sizing: border-box;
  text-align: justify;
  font-size: 25px;
  padding: 15px 15px;
  padding: 20px 25px;
  border-radius: 6px;
  
  transition:all ease-in 0.5s;
}
.contact-form:hover{
  box-shadow: 15px 20px 15px rgb(0,128,0,30%);
}

.cform{
  margin-top: 15px;
}

.input-data{
  width: 100%;
  background: #222;

  position: relative;
}
.input-data textarea{
  width: 100%;
  min-height: 71px;
  resize: none;
  background: #222;
  color: #fafafa;
  font-size: 20px;
  border: none;
  margin-top: 50px;
  border-bottom: 2px solid silver;
}
.input-data input{
  width: 100%;
  color: #fafafa;
  font-size: 20px;
  border: none;
  border-bottom: 2px solid silver;
  margin-top: 50px;
  background: #222;
}
.input-data input:focus, textarea:focus{
  outline: none;
}
.input-data input:focus ~ label,
.input-data input:valid ~ label /*textarea:focus ~ label, textarea:valid ~ label*/{
  transform: translateY(-20px);
  color: limegreen;
}
textarea:focus ~ label, textarea:valid ~ label{
  transform: translateY(-70px);
  color: limegreen;
}
.input-data label{
  position: absolute;
  bottom: 10px;
  left: 0;
  color: grey;
  pointer-events: none;
  margin-top: 30px;
  transition: all 0.3s ease-in-out;
}
.input-data textarea label{
  position: absolute;
  bottom: 50px;
  left: 0;
  color: grey;
  pointer-events: none;
  margin-top: 0px;
  transition: all 0.3s ease-in-out;
}
.input-data .line{
  position: absolute;
  bottom: 1px;
  height: 2px;
  width: 100%;
  transition: all 0.3s ease-in-out;
  
}
.input-data .line1{
  position: absolute;
  top: 91%;
  bottom: 0px;
  height: 2px;
  width: 100%;
  transition: all 0.3s ease-in-out;
}
.input-data .line:before, .input-data .line1:before{
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background: limegreen;
  transition: all 0.3s ease-in-out;
  transform: scaleX(0);
}

.input-data input:focus ~ .line:before,
.input-data input:valid ~ .line:before,textarea:focus ~ .line1:before, textarea:valid ~ .line1:before{
  transform: scaleX(1);
}
.input-data .btn{
  margin-top: 30px;
  width: 100%;
}
.input-data .btn i{
  transition: all 0.2s ease-in-out;
}
.input-data .btn:hover i{
  position: relative;
  animation: right 1s infinite;
}


.contact-map{
  
  margin-top: 20px;
  margin-left: 65px;
  width: 90%;
  height: 500px;
  background: #222;
  color: #fafafa;
  box-sizing: border-box;
  text-align: justify;
  font-size: 25px;
  
  
  border-radius: 6px;
  
  transition:all ease-in 0.5s;
}
.contact-map:hover{
  box-shadow: 15px 20px 15px rgb(0,128,0,30%);
}




#footer{
  color: #fafafa;
  background-color: #121212;
  text-align: center;
  
  padding: 15px;
}
#footer h2 i{
  color: limegreen;
}

@media (max-width: 850px){
	.row{
		flex-direction: column;
	}
	.logo{
		font-size: 25px;
	}
	.menu{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #121212;
    z-index: 1000;
    top: 60px;
    right: -750px;
    text-align: center;
    
    transition: all 0.5s ease;
    
  }
 .menu li{
   position: relative;
   display: block;
   padding: 20px;
   margin-left: 0%;
   margin-right: 0%;
   line-height: 20px;
   z-index: 999;
 }
 .main.sticky .menu li a:hover{
   color: lime;
  
 }
  label #open{
    display: block;
    transition: all ease-in 0.5s;
  }
  label #open:hover,
  label #close:hover{
    color: lime;
  }
 .meni li a{
   letter-spacing: 3px;
   color: white;
   font-size: 15px;
 }
 
 #check:checked ~ .menu{
   width: 100%;
   height: 100%;
   margin-right: 0em;
   overflow: hidden;
   margin-left: 5em;
   bottom: 0;
   right: 0;

 }
 #check:checked ~ label #open{
   display: none;
 }
 #check:checked ~ label #close{
   display: block;
 }

 .image1 img{
   display: none;
	max-width: 350px;
}
 #home{
   min-height: 800px;
 }
 .hometext{
   width: 85%;
   position: relative;
   margin-top: 0.5em;
   margin-right: 0;
   margin-left: 0.5em;
   text-align: left;
   font-size: 25px;
   
 }
 .typing{
   position: relative;
   margin-right: 0;
   
 }
.image2{
  margin-left: 0;
}
.image2 img{
  max-width: 300px;
}
.abouttext{
  margin-left: 25px;
 
}

#service{
  min-height: 3800px;
}
.s1,.s2,.s3,.s4,.s5,.s6,.s7,.s8,.s9,.s10,.s11,.s12{
  width: calc(100% - 20px);
}

#skills{
  min-height: 1900px;
}
.skill1{
  margin-right: 0;

  font-size: 20px;
}
.skill1 i{
  display: none;
}
.skill2{
  margin-right: 5em;
  margin-left: 5em;
  width: 90%;
}
.moreskills{
  margin-top: 0px;
}

.pro1,.pro2,.pro3{
  width: calc(100% - 20px);
}
.gif img {
    max-width: 280px;
    max-height: 200px;
}


#contact{
  min-height: 2000px;
}

.contact-info{
  font-size: 20px;
}

.contact-form{
  font-size: 20px;
}
.input-data .line{
  bottom: 0px;
}
.input-data .line1{
  top: 92%;
}

.contact-map{
  margin-left: 20px;
}
.contact-map iframe{
  width: 200;
  height: 500;
}
#footer h2{
  font-size: 20px;
}
}