*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
html{
	scroll-behavior: smooth!important;
}
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: lime;
}

body{
	width: 100%;
	height: 100%;
	background-color: #121212;
	color: #fafafa;
	position: relative;
}
.preloader{
   position: fixed;
   width: 100%;
   height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background: #1c2841;
   color: #fafafa;
   z-index: 100000000000;
}

.preloader:before{
  content: "LOADING";
  position: absolute;
  font-size: 10em;
  font-weight: 900;
  color: rgba(255, 255, 255, .03);
}
.counter{
  position: relative;
  color: limegreen;
  font-size: 12em;
  font-size: 700;
  z-index: 1;
}
.counter:after{
  content: '%';
  color: limegreen;
  font-size: 0.5em;
}
.text{
  display: none;
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 5px;
  margin: 10px;
}
.text span{
  color: limegreen;
}
.preloader.active{
  transform: translateY(-100%);
  transition: ease-in-out 2s;
  transition-delay: 1s;
}
.hide{
  opacity: 0;
  transition: 1s;
  pointer-events: none;
}
#header{
	position: fixed;
  	padding: 1rem 5rem;
  	width: 100%;
  	z-index: 999;
  	transition: all 0.3s linear;
	display: flex;
	flex-direction: row;
	justify-content: space-between;

}
#header.sticky{
	padding: 1rem 5rem;
    background: limegreen;
    
}
#header.sticky .logo,#header.sticky.menu li a{
  color: #fff;
}
#header.sticky .menu li a:hover{
  color: black;
  /*border-bottom: 1px solid black;*/
}
#header.sticky .logo span{
  color: black ;
}

#header .logo h1{
	font-size: 25px;
	font-weight: 700;
	letter-spacing: 2px;
}
#header .logo span{
	color: lime;
}

#menu li{
	list-style-type: none;
	display: inline-block;
	padding: 0.2rem 0.5rem;
	font-size: 18px;
	letter-spacing: 2px;
	font-weight: 400;
}
#menu li a{
	text-decoration: none;
	color: #fafafa;
	font-size: 18px;
	font-weight: 400;
	transition: 0.2s ease-in-out;
}
#menu li a:hover{
	color: lime;
	font-size: 15px;
}

#section_1{
	min-height: 30rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	align-content: center;
	position: relative;
}
#section_1 .part_1{
	flex-basis: 50%;
	margin-top: 5rem;
	width: 100%;
	height: 100%;
	position: relative;
}
#section_1 .part_2{
	flex-basis: 40%;
	width: 100%;
	height: 100%;
	position: relative;
}
#section_1 .part_2 p:nth-child(1){
	margin-top: 5rem;
}
#section_1 .part_2 p{
	font-size: 25px;
	font-weight: 400;
	text-align: left;
}
#visitor{
	color: lime;
	font-weight: 700;
}
.typing_part{
	margin-top: -5rem;
	width: 100%;
	position: relative;
}
#section_1 .part_2 .typing{
  width: 100%;
  color: lime;
  font-size: 25px;
  font-weight: 700;
} 

a{
	text-decoration: none;
	color: #fafafa;
}
.btn{

	border: 1px solid lime;
	border-radius: 10px;
	background-color: #121212;
	color: #fafafa;
	padding: 10px 36px;
	font-size: 20px;
	cursor: pointer;
	transition: 0.2s linear;
	position: relative;
}
.btn:hover{
	color: black;
	background-color: limegreen;
}

#down{
	transition: 0.2s linear;
}
.btn:hover #down{
	 position: relative;
   	 animation: down 1s infinite;
}

@keyframes down{
  0%{
    top: 0;
  }
  50%{
    top: 10px;
  }
  100%{
    top: 15px;
  }
}

#section_1 .part_2 .btn{
	margin-top: 2rem;
}

/*about part*/
#about{
	margin-top: 10rem;
	padding: 5rem 5rem;
	background-color: #1c2841;
   	width: 100%;
   	height: 100%;
   	position: relative; 
}
#about .part_1 h2{
	font-size: 30px;
	font-weight: 700;
	text-align: center;
	position: relative;
}
#about .part_1 h2:after{
	content: "- who i am -";
	font-size: 15px;
	width: 100%;
	height: 10%;
	position: absolute;
	top: 80%;
	left: 0;
	color: lime;
}

#about .part_2{
	margin-top: 3rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
#about .part_2 .image_part{
	flex-basis: 50%;
	width: 100%;
	height: 100%;
	position: relative;
}
#about .part_2 .image_part img{
	filter: grayscale(1);
  	cursor: pointer;
 	transition:all 0.2s linear;
}
#about .part_2 .image_part img:hover{
  filter: grayscale(0);
  box-shadow: 15px 20px 15px rgb(0,128,0,30%);
}

#about .part_2 .info{
	flex-basis: 45%;
	width: 100%;
	height: 100%;
	position: relative;
}
#about .part_2 .info h3{
	font-size: 18px;
	font-weight: 400;

}
#about .part_2 .info marquee{
	font-size: 18px;
	font-weight: 700;
	color: lime;
}
#about .part_2 .info p{
	font-size: 15px;
	font-weight: 300;
	text-align: justify;
}
#about .part_2 .info q{
	color: lime;
}

#about .part_2 .info .btn{
	background-color: #1c2841;
	margin-top: 2rem;
}
#about .part_2 .info .btn:hover{
	background-color: limegreen;
	color: black;
	margin-top: 2rem;
}

/*services section*/
#services{
	padding: 5rem 5rem;
	background-color: #121212;
   	width: 100%;
   	height: 100%;
   	position: relative; 
}
#services .part_1 h2{
	font-size: 30px;
	font-weight: 700;
	text-align: center;
	position: relative;
}
#services .part_1 h2:after{
	content: "- what i provide -";
	font-size: 15px;
	width: 100%;
	height: 10%;
	position: absolute;
	top: 80%;
	left: 0;
	color: lime;
}

#services .part_2{
	margin-top: 3rem;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 2fr));
	grid-gap: 2rem;
}
#services .part_2 .box{
	 width: 100%;
	background: #222;
	color: #fafafa;
    padding: 1rem;
    text-align: center;
    border-radius: 6px;
    cursor: pointer;
    transition:all linear 0.5s;
}
#services .part_2 .box:hover{
	 background-color: limegreen;
  	 color: #000;
     box-shadow: 15px 20px 15px rgb(0,128,0,30%);
}

#services .part_2 .box h4{
	font-size: 20px;
	font-weight: 400;
	color: lime;
	transition: all 0.2s linear;
}

#services .part_2 .box p{
	margin-top: 10px;
	font-size: 14px;
	font-weight: 300;
	transition: all 0.2s linear
}
#services .part_2 .box:hover h4,#services .part_2 .box:hover p{
	 transform: scale(1.05);
}
#services .part_2 .box:hover h4{
  	 color: black;
}

/*skills part*/
#skills{
	padding: 5rem 5rem;
	background-color: #1c2841;
   	width: 100%;
   	height: 100%;
   	position: relative; 
}
#skills .part_1 h2{
	font-size: 30px;
	font-weight: 700;
	text-align: center;
	position: relative;
}
#skills .part_1 h2:after{
	content: "- what i know -";
	font-size: 15px;
	width: 100%;
	height: 10%;
	position: absolute;
	top: 80%;
	left: 0;
	color: lime;
}
#skills .part_2{
	margin-top: 3rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
#skills .part_2 .info{
	flex-basis: 50%;
	width: 100%;
	height: 100%;
	position: relative;
}
#skills .part_2 .info h3{
	font-size: 18px;
	font-weight: 700;
}
#skills .part_2 .info p{
	margin-top: 5px;
	font-size: 15px;
	font-weight: 300;
	text-align: justify;
	line-height: 2rem;
}
#skills .part_2 .card{
	flex-basis: 40%;
	width: 100%;
	height: 100%;
	position: relative;
}

#skills .part_2 .skills{
	background-color: #222;
	padding: 1rem;
	cursor: pointer;
	transition:all linear 0.5s;
}
.skills:hover{
  	box-shadow: 15px 20px 15px rgb(0,128,0,30%);
}
.skill-name:nth-child(1){
  margin-top: 0px;
}
.skill-name{
  margin-top: 2rem;
  font-weight: bold;
}
.skill-bar{
  height: 5px;
  border-radius: 4px;
  background: #282828;
}
.skill-per{
  height: 5px;
  border-radius: 4px;
  background: limegreen;
  position: relative;
  animation: skillbar 3.5s 1;
}

.skill-per:before{
  content: attr(per);
  position: absolute;
  padding: 4px 6px;
  background: #fafafa;
  border-radius: 4px;
  font-size: 12px;
  color: #121212;
  top: -35px;
  right: 0;
  transform: translateX(50%);
}
.skill-per:after{
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: #fafafa;
  border-radius: 2px;
  top: -15px;
  right: 0;
  transform: translateX(50%) rotate(45deg);
}
@keyframes skillbar{
  from{
    width: 0;
    background: blue;
  }
  to{
    width: 100%;
    background: limegreen;
  }
}

#skills .part_2 .card .button{
	margin-top: 1rem;
}
#skills .part_2 .card .btn{
	background-color: #1c2841;
}
#skills .part_2 .card .btn:hover{
	background-color: limegreen;
	color: black;
}

#skills .part_3{
	margin-top: 3rem;
	background-color: #222;
	padding: 1rem;
	cursor: pointer;
	transition:all linear 0.5s;
}
#skills .part_3:hover{
  	box-shadow: 15px 20px 15px rgb(0,128,0,30%);

}

/* projects part */
#projects{
	padding: 5rem 5rem;
	background-color: #121212;
   	width: 100%;
   	height: 100%;
   	position: relative; 
}
#projects .part_1 h2{
	font-size: 30px;
	font-weight: 700;
	text-align: center;
	position: relative;
}
#projects .part_1 h2:after{
	content: "- what i have done -";
	font-size: 15px;
	width: 100%;
	height: 10%;
	position: absolute;
	top: 80%;
	left: 0;
	color: lime;
}
#projects .part_2{
	margin-top: 3rem;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 2fr));
	grid-gap: 2rem;
}
#projects .part_2 .p_cards{
	width: 100%;
	background: #222;
	color: #fafafa;
    text-align: center;
    border-radius: 6px;
    cursor: pointer;
    transition:all linear 0.5s;
}
#projects .part_2 .p_cards:hover{
     box-shadow: 15px 20px 15px rgb(0,128,0,30%);
}
#projects .part_2 .p_cards .p_image{
	width: 100%;
	height: 40%;
	border-radius: 6px 6px 0px 0px;
	position: relative;
}
#projects .part_2 .p_cards .p_image img{
	border-radius: 6px 6px 0px 0px;
	transition: all 0.2s linear;
}
#projects .part_2 .p_cards .p_image img:hover{
	transform: scale(1.1);
}
#projects .part_2 .p_cards .info{
	padding: 1rem 1rem 5rem 1rem;
	width: 100%;
	height: 100%;
	position: relative;
}
#projects .part_2 .p_cards .info h4{
	font-size: 18px;
	font-weight: 400;
	color: lime;
}
#projects .part_2 .p_cards .info p{
	margin-top: 10px;
	font-size: 14px;
	font-weight: 300;
	transition: all 0.2s linear
}
#projects .part_2 .p_cards .info .btn{
	margin-top: 12px;
	font-size: 14px;
	font-weight: 300;
	transition: all 0.2s linear
}

/*contact section */
#contact{
	padding: 5rem 5rem;
	background-color: #1c2841;
   	width: 100%;
   	height: 100%;
   	position: relative; 
}
#contact .part_1 h2{
	font-size: 30px;
	font-weight: 700;
	text-align: center;
	position: relative;
}
#contact .part_1 h2:after{
	content: "- get in touch -";
	font-size: 15px;
	width: 100%;
	height: 10%;
	position: absolute;
	top: 80%;
	left: 0;
	color: lime;
}
#contact .part_2{
	margin-top: 3rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
#contact .part_2 .info{
	flex-basis: 60%;
	width: 100%;
	height: 100%;
	position: relative;
}
#contact .part_2 .info h3{
	font-size: 18px;
	font-weight: 700;
}
#contact .part_2 .info p{
	margin-top: 1rem;
	font-size: 15px;
	font-weight: 300;
}
#contact .part_2 .info ul{
	margin-top: 1rem;
  	padding: 1rem 1rem 1rem 0rem;
}
#contact .part_2 .info ul li{
	list-style-type: none;
  	padding: 1rem 1rem 1rem 0rem;  
}

#contact .part_2 .info ul li i{
  float: left;
  margin-right: 30px;
  margin-top: 5px;
}
#contact .part_2 .info ul li p{
  margin-top: 2px;
  margin-left: 2.5rem;
}

#contact .part_2 .contact_form{
	flex-basis: 35%;
	width: 100%;
	height: 100%;
	position: relative;
	background-color: #222;
	padding: 1rem;
	border-radius: 6px;
	transition:all linear 0.5s;
}

.contact_form:hover{
  box-shadow: 15px 20px 15px rgb(0,128,0,30%);
}

.cform{
  margin-top: 15px;
}

.input-data{
  width: 100%;
  background: #222;
  position: relative;
}
.input-data textarea{
  width: 100%;
  min-height: 71px;
  resize: none;
  background: #222;
  color: #fafafa;
  font-size: 15px;
  border: none;
  margin-top: 50px;
  border-bottom: 2px solid silver;
}
.input-data input{
  width: 100%;
  color: #fafafa;
  font-size: 15px;
  border: none;
  border-bottom: 2px solid silver;
  margin-top: 50px;
  background: #222;
}
.input-data input:focus, textarea:focus{
  outline: none;
}
.input-data input:focus ~ label,
.input-data input:valid ~ label /*textarea:focus ~ label, textarea:valid ~ label*/{
  transform: translateY(-20px);
  color: limegreen;
}
textarea:focus ~ label, textarea:valid ~ label{
  transform: translateY(-70px);
  color: limegreen;
}
.input-data label{
  position: absolute;
  bottom: 10px;
  left: 0;
  color: grey;
  pointer-events: none;
  margin-top: 30px;
  transition: all 0.3s ease-in-out;
}
.input-data textarea label{
  position: absolute;
  bottom: 50px;
  left: 0;
  color: grey;
  pointer-events: none;
  margin-top: 0px;
  transition: all 0.3s ease-in-out;
}
.input-data .line{
  position: absolute;
  bottom: 0.1px;
  height: 2px;
  width: 100%;
  transition: all 0.3s ease-in-out;
  
}
.input-data .line1{
  position: absolute;
  top: 93%;
  bottom: 0px;
  height: 2px;
  width: 100%;
  transition: all 0.3s ease-in-out;
}
.input-data .line:before, .input-data .line1:before{
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background: limegreen;
  transition: all 0.3s ease-in-out;
  transform: scaleX(0);
}

.input-data input:focus ~ .line:before,
.input-data input:valid ~ .line:before,textarea:focus ~ .line1:before, textarea:valid ~ .line1:before{
  transform: scaleX(1);
}
.input-data .btn{
  margin-top: 30px;
  width: 100%;
}
.input-data .btn i{
  transition: all 0.2s ease-in-out;
}
.input-data .btn:hover i{
  position: relative;
  animation: right 1s infinite;
}
@keyframes right{
  0%{
    left: 0;
  }
  50%{
    left: 10px;
  }
  100%{
    left: 15px;
  }
}
#section_7{
		margin-top: 25px;
	}

#footer{
  	padding: 1rem 5rem;
	background-color: #121212;
   	position: relative;
   	text-align: center;
}
#footer h2{
	font-size: 18px;
}
#footer p{
	font-size: 10px;
}
#footer h2 i{
  color: limegreen;
}
#top{
 display: none;
 position: fixed;
 bottom: 20px;
 right: 30px;
 z-index: 99; 
 border: none;
 outline: none;
 background-color: limegreen;
 color: #fafafa;
 cursor: pointer;
 padding: 15px;
 border-radius: 10px;
 font-size: 18px;
 transition: 0.2s ease-in-out;
}

#top:hover{
  margin-bottom: 15px;
  color: #fafafa;
  background-color: #121212;
  box-shadow:  15px 20px 15px  rgba(0,0,0,0.3);
}
#top i{
	font-size: 15px;
}
#menu_btn{
	display: none;
}

@media (max-width: 375px){
	.preloader{
		padding: 0rem 1rem;
	}
	.preloader:before{ 
    	font-size: 4em;
  	} 
  	.counter{
   	 	font-size: 8em;
  	}
  	.counter:after{
   	 	font-size: 0.2em;
  	}
  	.text{
	    font-size: 20px;
	    margin: 5px;
	    letter-spacing: 3px;
  	}

	#header{
	  	padding: 1rem 2rem;

	}
	#header.sticky{
		padding: 1rem 2rem;
	    
	}
	#header .logo h1{
		font-size: 30px;
	}
	#menu_btn{
		display: block;
	}
	#menu_btn p{
		font-size: 30px;
		cursor: pointer;
	}

	#menu{
		display: none;
		width: 100%;
		height: 100vh;
		position: fixed;
		top: 10%;
		left: 0;
		text-align: center;
		background-color: #121212;
		z-index: 20000;
	}
	#menu li{
		margin-top: 2rem;
		display: block;
		padding: 0.2rem 0.5rem;
		font-size: 30px;
	}
	#section_1{
		min-height: 25rem;
		padding: 2rem;
		flex-direction: column;
	}
	#section_1 .part_1{
		display: none;
	}
	#section_1 .part_2{
		flex-basis: 100%;
		margin-top: 10rem;
		width: 100%;
		height: 100%;
		position: relative;
	}
	#section_1 .part_2 p:nth-child(1){
		margin-top: 0rem;
	}
	.typing_part{
		margin-top: 0rem;
		width: 100%;
		position: relative;
	}

	#about{
		margin-top: 10rem;
		padding: 5rem 2rem;
	}
	#about .part_2,#skills .part_2,#contact .part_2{
		flex-direction: column;
	}
	#about .part_2 .info{
		margin-top: 20px;
	}

	#services,#skills,#projects,#contact{
		padding: 5rem 2rem;
	}

	#skills .part_2 .card{
		margin-top: 20px;
		flex-basis: 40%;
		width: 100%;
		height: 100%;
		position: relative;
	}

	#section_7{
		margin-top: 25px;
	}
	#top{
		right: 20px;
	}
	#footer{
		padding: 1rem 2rem;
	}


}